mixin section(head,para)
    h2.col-12.text-capitalize=head 
    p.col-12.text-capitalize=para
mixin targets-section(head,para)
    p.col-12.text-capitalize=para
    h2.col-12.text-capitalize=head 
mixin tickets(head,para)
    h2.col-12.text-capitalize.text-center=head 
    p.col-12.text-capitalize.text-center=para
mixin ratio 
    label 
        input(class="toggle-checkbox" type="checkbox" checked)
        .toggle-switch
mixin ratio-nonchecked
    label 
        input(class="toggle-checkbox" type="checkbox")
        .toggle-switch
mixin thin-ratio
    label 
        input(class="toggle-checkbox thin-toggle-checkbox" type="checkbox" checked)
        .toggle-switch.thin-toggle-switch
mixin thin-ratio-non-checked
    label 
        input(class="toggle-checkbox thin-toggle-checkbox" type="checkbox")
        .toggle-switch.thin-toggle-switch
mixin profile(head,a,a1,b,b1,c,c1)
    .sup-profile.col-12.d-flex.row.wrap
        p.col-12.text-capitalize=head
        .col-lg-4.col-md-6.col-sm-12.d-flex.align-items-baseline.gap-1
            p.text-capitalize=a
            h6.text-capitalize=a1
        .col-lg-4.col-md-6.col-sm-12.d-flex.align-items-baseline.gap-1
            p.text-capitalize=b
            h6.text-capitalize=b1
        .col-lg-4.col-md-6.col-sm-12.d-flex.align-items-baseline.gap-1
            p.text-capitalize=c
            h6.text-capitalize=c1
        .col-lg-4.col-md-6.col-sm-12
            +thin-ratio
mixin profile-non-checked(head,a,a1,b,b1,c,c1)
    .sup-profile.col-12.d-flex.row.wrap
        p.col-12.text-capitalize=head
        .col-lg-4.col-md-6.col-sm-12.d-flex.align-items-baseline.gap-1
            p.text-capitalize=a
            h6.text-capitalize=a1
        .col-lg-4.col-md-6.col-sm-12.d-flex.align-items-baseline.gap-1
            p.text-capitalize=b
            h6.text-capitalize=b1
        .col-lg-4.col-md-6.col-sm-12.d-flex.align-items-baseline.gap-1
            p.text-capitalize=c
            h6.text-capitalize=c1
        .col-lg-4.col-md-6.col-sm-12
            +thin-ratio-non-checked
mixin skills-group(one,two,three,four)
    .skills.d-flex.col-12.row.wrap.justify-content-center
        span.text-capitalize=one
        span.text-capitalize=two
        span.text-capitalize=three
        span.text-capitalize=four
mixin plan-yes(paragraph)
    .activities.d-flex.col-12.row.wrap.justify-content-baseline
        .col-8
            i.fa-solid.fa-check.fa-fw.yes
            span.plan-span.text-capitalize=paragraph
        .col-4.d-flex.justify-content-end
            i.fa-solid.fa-circle-info.help
mixin plan-no(paragraph)
    .activities.d-flex.col-12.row.wrap.justify-content-baseline
        .col-8
            i.fa-solid.fa-xmark.fa-fw.no
            span.plan-span.text-capitalize=paragraph
        .col-4.d-flex.justify-content-end
            i.fa-solid.fa-circle-info.help
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/all.min.css")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/bootstrap.min.css.map")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&amp;display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        block title
            title.text-capitalize dashboard
    body
        .page.d-flex
            div(id="sidebar" class="sidebar col-2")
                h3.elzero.text-center.text-capitalize elzero
                ul.main-ul.text-capitalize
                    a(href="index.html")
                        li
                            i(class="fa-regular fa-chart-bar fa-fw")
                            |  
                            span dashboard 
                    a(href="settings.html")
                        li 
                            i(class="fa-solid fa-gear fa-fw")
                            |  
                            span settings
                    a(href="profile.html")
                        li
                            i(class="fa-regular fa-user fa-fw")
                            |  
                            span profile 
                    a(href="projects.html")
                        li
                            i(class="fa-solid fa-diagram-project fa-fw")
                            |  
                            span projects
                    a(href="courses.html")
                        li
                            i(class="fa-solid fa-graduation-cap fa-fw")
                            |  
                            span courses  
                    a(href="friends.html")
                        li
                            i(class="fa-regular fa-circle-user fa-fw")
                            |  
                            span friends 
                    a(href="files.html")
                        li
                            i(class="fa-regular fa-file fa-fw")
                            |  
                            span files 
                    a(href="plans.html")
                        li
                            i(class="fa-regular fa-credit-card fa-fw")
                            |  
                            span plans 
            .main.d-flex.h-100.col-10
                header.head.col-12.d-flex.justify-content-between.align-items-center
                    .search
                        input(id="search" class="head-input" type="text" placeholder="Type A Keyward")
                        i(id="x" class = "false fa-solid fa-xmark")
                    .head-icons.d-flex.align-items-center.justify-content-end
                        span.head-i.col-6
                            i.fa-regular.fa-bell.fa-lg
                        img(class="head-avatar col-6" src="image/avatar.png")
                block pageContent
                    h1.page-header.text-capitalize.col-12 dashboard 
                    .sections-container.d-flex.col-12.justify-content-evenly
                        include includes/section
                            .welcome-head.col-12
                                +section('welcome','elzero')
                                img(class="welcome-image" src="image/welcome.png", alt="")
                                img(class="welcome-avatar col-6" src="image/avatar.png")
                            .welcome-mid.d-flex.col-12.row.nowrap
                                    .col-lg-4.col-md-12.col-sm-12
                                        +section('osama elzero','developer')
                                    .col-lg-4.col-md-12.col-sm-12
                                        +section('80','projects')
                                    .col-lg-4.col-md-12.col-sm-12
                                        +section('$8500','earned')
                            .d-flex.col-12.row.justify-content-end.align-items-end
                                button.button.btn.btn-primary profile
                        include includes/section
                            +section('Quick Draft','Write A Draft For Your Ideas')
                            input(class="input-title col-12 text-capitalize" type="text" placeholder="title")
                            textarea(class="input-thought col-12 text-capitalize" type="text" placeholder="your thought")
                            .d-flex.col-12.row.justify-content-end.align-items-end
                                button.button.btn.btn-primary save
                        include includes/section
                            +section('Yearly Targets','Targets Of The Year')
                            .col-12.row
                                .col-2.d-flex.align-items-center.dolar
                                    .col-12.text-center
                                        i.fa-solid.fa-dollar-sign.fa-lg
                                .col-10.targets
                                    +targets-section('$20.000','money')
                                    .money
                            .col-12.row
                                .col-2.d-flex.align-items-center.tag
                                    .col-12.text-center
                                        i.fa-solid.fa-code.fa-lg
                                .col-10.targets
                                    +targets-section('24','projects')
                                    .projects
                            .col-12.row
                                .col-2.d-flex.align-items-center.person
                                    .col-12.text-center
                                        i.fa-solid.fa-user.fa-lg
                                .col-10.targets
                                    +targets-section('12','team')
                                    .team
                        include includes/section
                            +section('Tickets Statistics','Everything About Support Tickets')
                            .d-flex.row.wrap.justify-content-evenly
                                .tickets-section.col-lg-5.col-md-12.col-sm-12.mb-3
                                    i.fa-regular.fa-rectangle-list.fa-2x.mb-10.c-orange
                                    +tickets('2500','total')
                                .tickets-section.col-lg-5.col-md-12.col-sm-12.mb-3
                                    i.fa-solid.fa-spinner.fa-2x.mb-10.c-blue
                                    +tickets('500','pending')
                                .tickets-section.col-lg-5.col-md-12.col-sm-12.mb-3
                                    i.fa-regular.fa-circle-check.fa-2x.mb-10.c-green
                                    +tickets('1900','closed')
                                .tickets-section.col-lg-5.col-md-12.col-sm-12.mb-3
                                    i.fa-regular.fa-rectangle-xmark.fa-2x.mb-10.c-red
                                    +tickets('100','deleted')
                        include includes/section
                            +section('latest news','')
                            .news-section.d-flex.row.wrap
                                .col-12.d-flex.row.wrap
                                    img.col-lg-4.col-md-4.col-sm-12(src="image/news-01.png", alt="")
                                    .col-lg-6.col-md-6.col-sm-12
                                        +section('Created SASS Section','New SASS Examples & Tutorials')
                                    p.news-time.col-lg-2.col-md-2.col-sm-12 3 days ago
                                .col-12.d-flex.row.wrap
                                    img.col-lg-4.col-md-4.col-sm-12(src="image/news-02.png", alt="")
                                    .col-lg-6.col-md-6.col-sm-12
                                        +section('Created SASS Section','New SASS Examples & Tutorials')
                                    p.news-time.col-lg-2.col-md-2.col-sm-12 5 days ago
                                .col-12.d-flex.row.wrap
                                    img.col-lg-4.col-md-4.col-sm-12(src="image/news-03.png", alt="")
                                    .col-lg-6.col-md-6.col-sm-12
                                        +section('Created SASS Section','New SASS Examples & Tutorials')
                                    p.news-time.col-lg-2.col-md-2.col-sm-12 7 days ago
                                .col-12.d-flex.row.wrap
                                    img.col-lg-4.col-md-4.col-sm-12(src="image/news-04.png", alt="")
                                    .col-lg-6.col-md-6.col-sm-12
                                        +section('Created SASS Section','New SASS Examples & Tutorials')
                                    p.news-time.col-lg-2.col-md-2.col-sm-12 9 days ago
                        include includes/section
                            +section('latest tasks','')
                            .tasks-section.col-12.d-flex.row.wrap.justify-content-between
                                .col-9
                                    +section('Record One New Video','Record Python Create Exe Project')
                                .col-2.fa-regular.fa-trash-can.delete
                                .col-9
                                    +section('Write Article','Write Low Level vs High Level Languages')
                                .col-2.fa-regular.fa-trash-can.delete
                                .col-9
                                    +section('Finish Project','Publish Academy Programming Project')
                                .col-2.fa-regular.fa-trash-can.delete
                                .col-9.hash
                                    +section('Attend The Meeting','Attend The Project Business Analysis Meeting')
                                .col-2.fa-regular.fa-trash-can.delete.hash
                                .col-9
                                    +section('Finish Lesson','Finish Teaching Flex Box')
                                .col-2.fa-regular.fa-trash-can.delete
                        include includes/section
                            +section('top search items','')
                            .top-search.col-12.d-flex.row.wrap.justify-content-between
                                h4.col-8 Keyword
                                h4.col-3 Search Count
                            .top-search.col-12.d-flex.row.wrap.justify-content-between
                                .col-9
                                    +section('Programming','')
                                p.search-times.col-2 220
                            .top-search.col-12.d-flex.row.wrap.justify-content-between
                                .col-9
                                    +section('javascript','')
                                p.search-times.col-2 180
                            .top-search.col-12.d-flex.row.wrap.justify-content-between
                                .col-9
                                    +section('php','')
                                p.search-times.col-2 160
                            .top-search.col-12.d-flex.row.wrap.justify-content-between
                                .col-9
                                    +section('code','')
                                p.search-times.col-2 145
                            .top-search.col-12.d-flex.row.wrap.justify-content-between
                                .col-9
                                    +section('design','')
                                p.search-times.col-2 110
                            .top-search.col-12.d-flex.row.wrap.justify-content-between
                                .col-9
                                    +section('logic','')
                                p.search-times.col-2 95
                        include includes/section
                            +section('latest uploads','')
                            .top-search.col-12.d-flex.row.wrap.justify-content-between
                                .col-1
                                    img(class="uploaded-file" src="image/pdf.svg", alt="")
                                .col-8
                                    +section('my-file.pdf','elzero')
                                p.search-times.col-2 2.9mb
                            .top-search.col-12.d-flex.row.wrap.justify-content-between
                                .col-1
                                    img(class="uploaded-file" src="image/avi.svg", alt="")
                                .col-8
                                    +section('my-file.pdf','elzero')
                                p.search-times.col-2 4.9mb
                            .top-search.col-12.d-flex.row.wrap.justify-content-between
                                .col-1
                                    img(class="uploaded-file" src="image/psd.svg", alt="")
                                .col-8
                                    +section('my-file.pdf','elzero')
                                p.search-times.col-2 4.5mb
                            .top-search.col-12.d-flex.row.wrap.justify-content-between
                                .col-1
                                    img(class="uploaded-file" src="image/zip.svg", alt="")
                                .col-8
                                    +section('my-file.pdf','elzero')
                                p.search-times.col-2 8.9mb
                            .top-search.col-12.d-flex.row.wrap.justify-content-between
                                .col-1
                                    img(class="uploaded-file" src="image/dll.svg", alt="")
                                .col-8
                                    +section('my-file.pdf','elzero')
                                p.search-times.col-2 4.9mb
                            .top-search.col-12.d-flex.row.wrap.justify-content-between
                                .col-1
                                    img(class="uploaded-file" src="image/eps.svg", alt="")
                                .col-8
                                    +section('my-file.pdf','elzero')
                                p.search-times.col-2 8.9mb
                        include includes/section
                            +section('Last Project Progress','')
                            .col-12.d-flex.project
                                span.circle.col-2
                                p.progress.col-10 Got The Project
                            .col-12.d-flex.project
                                span.circle.col-2
                                p.progress.col-10 Started The Project
                            .col-12.d-flex.project
                                span.circle.col-2
                                p.progress.col-10 The Project About To Finish
                            .col-12.d-flex.project
                                span.circle.col-2
                                p.progress.col-10 Test The Project
                            .col-12.d-flex.project
                                span.circle.col-2
                                p.progress.col-10 Finish The Project & Get Money
                            img(class="project-image" src="image/project.png", alt="")
                        include includes/section
                            +section('Reminders','')
                            .reminders.col-12.d-flex.row.wrap
                                .col-2.re-1
                                    span
                                .col-10
                                    +section('Check My Tasks List','28/09/2022 - 12:00am')
                                .reminders.col-12.d-flex.row.wrap
                                .col-2.re-2
                                    span
                                .col-10
                                    +section('Check My Projects','26/10/2022 - 12:00am')
                                .reminders.col-12.d-flex.row.wrap
                                .col-2.re-3
                                    span
                                .col-10
                                    +section('Call All My Clients','05/11/2022 - 12:00am')
                                .reminders.col-12.d-flex.row.wrap
                                .col-2.re-4
                                    span
                                .col-10
                                    +section('Finish The Development Workshop','20/12/2022 - 12:00am')
                        include includes/section
                            +section('Latest Post','')
                            .post.col-12.d-flex.row.wrap
                                .col-1
                                    img(class="post-avatar" src="image/avatar.png", alt="")
                                .col-10
                                    +section('Osama Elzero','About 3 Hours Ago')
                                p.post-para.col-12 You Can Fool All Of The People Some Of The Time, And Some Of The People All Of The Time, But You Can't Fool All Of The People All Of The Time.
                                .col-12.d-flex.justify-content-between 
                                    .col-2.justify-content-start
                                        i.fa-regular.fa-heart
                                        |  1.8K
                                    .col-2.justify-content-end
                                        i.fa-regular.fa-comments
                                        |  500
                        include includes/section
                            +section('Social Media Stats','')
                            .social.col-12.d-flex.row.wrap
                                .col-1.twietter
                                    i.fa-brands.fa-twitter.fa-2x
                                .col-11.d-flex.justify-content-between.align-items-center 
                                    span.col-3 90K Followers
                                    button.col-3.btn.btn-primary Follow
                                .col-1.facebook
                                    i.fa-brands.fa-facebook-f.fa-2x
                                .col-11.d-flex.justify-content-between.align-items-center 
                                    span.col-3 2M Like
                                    button.col-3.btn.btn-primary Like
                                .col-1.youtube
                                    i.fa-brands.fa-youtube.fa-2x
                                .col-11.d-flex.justify-content-between.align-items-center 
                                    span.col-3 1M Subs
                                    button.col-3.btn.btn-primary Subscribe
                                .col-1.linkedin
                                    i.fa-brands.fa-linkedin.fa-2x
                                .col-11.d-flex.justify-content-between.align-items-center 
                                    span.col-3 70K Followers
                                    button.col-3.btn.btn-primary Follow
                        .section.col-12.projects-section
                            .d-flex.section-head.col-12.row.wrap
                                +section('Projects','')
                                table(class="col-12")
                                    thead
                                        tr
                                            td Name
                                            td Finish Date
                                            td Client
                                            td Price
                                            td Team
                                            td Status
                                    tbody 
                                        tr 
                                            td Ministry Wikipedia
                                            td 10 May 2022
                                            td Ministry
                                            td $5300
                                            td 
                                                img(src="image/team-01.png" alt="")
                                                img(src="image/team-02.png" alt="")
                                                img(src="image/team-03.png" alt="")
                                                img(src="image/team-05.png" alt="")
                                            td 
                                                button.btn.btn-primary.Pending Pending            
                                        tr 
                                            td Elzero Shop
                                            td 1  2 Oct 2021
                                            td Elzero Company
                                            td $1500
                                            td 
                                                img(src="image/team-01.png" alt="")
                                                img(src="image/team-02.png" alt="")
                                                img(src="image/team-05.png" alt="")
                                            td 
                                                button.btn.btn-primary.In-Progress In Progress           
                                        tr 
                                            td Bouba App
                                            td 05 Sep 2021
                                            td Bouba
                                            td $800
                                            td 
                                                img(src="image/team-02.png" alt="")
                                                img(src="image/team-03.png" alt="")
                                            td 
                                                button.btn.btn-primary.Completed  Completed        
                                        tr 
                                            td Mahmoud Website
                                            td 22 May 2021
                                            td Mahmoud
                                            td $600
                                            td 
                                                img(src="image/team-01.png" alt="")
                                                img(src="image/team-02.png" alt="")
                                            td 
                                                button.btn.btn-primary.Completed  Completed              
                                        tr 
                                            td Sayed Website
                                            td 24 May 2021
                                            td Sayed
                                            td $300
                                            td 
                                                img(src="image/team-01.png" alt="")
                                                img(src="image/team-03.png" alt="")
                                            td 
                                                button.btn.btn-primary.Rejected Rejected           
                                        tr 
                                            td Arena Application
                                            td 01 Mar 2021
                                            td Arena Company
                                            td $2600
                                            td 
                                                img(src="image/team-01.png" alt="")
                                                img(src="image/team-02.png" alt="")
                                                img(src="image/team-03.png" alt="")
                                                img(src="image/team-04.png" alt="")
                                            td 
                                                button.btn.btn-primary.Completed  Completed            
        script(src="javascript/all.min.js") 
        script(src="javascript/bootstrap.bundle.min.js")
        script(src="javascript/main.js") 